* {
  color: #bad7f2;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
}

body {
  background-color: #112240;
}

.inter {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.inter-sub {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.navbar {
  position: fixed;
  z-index: 3;
}

nav {
  margin-top: 1.5em;
}
#rhs {
  float: right;
  padding-left: 63vw;
  margin-right: 2.5em;
}

a {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.4s;

  padding-left: 2em;
  font-size: 1em;
  color: #7ae582;
}

#home p {
  color: #7ae582;
  font-size: 1.35em;
  text-align: left;
}

#home img {
  height: 13.5em;
  border-radius: 50%;
}

a:hover {
  text-decoration-color: #7ae582 !important;

  transition: 0.4s;
}

#home h1 {
  font-size: 6em;
}

h1 {
  font-size: 4em;
  margin: 0;
}

#home-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 95vh;
  flex-direction: column;
}

#welcome-img {
  display: inline-flex;
}

#left-vl {
  border-left: 1px solid #bad7f2;
  height: 15vh;
  position: fixed;
  bottom: 0;
  left: 2.5vw;
}

#right-vl {
  border-left: 1px solid #bad7f2;
  height: 26vh;
  position: fixed;
  bottom: 0;
  right: 2.5vw;
}

#right-email p {
  position: fixed;
  bottom: 32vh;
  transform: rotate(-90deg);
  left: 93.5vw;
}

#linkedin {
  height: 2.8vh;
  position: fixed;
  left: 2vw;
  bottom: 21.5vh;
  fill: #bad7f2;
}

#github {
  height: 3vh;
  position: fixed;
  left: 2vw;
  bottom: 26vh;
  fill: #bad7f2;
}

#mail {
  height: 2.2vh;
  position: fixed;
  left: 1.8vw;
  bottom: 17vh;
  fill: #bad7f2;
}

.content {
  width: 45vw;
  font-size: 12.5pt;
}

#about-container,
#skills-container,
#project-container {
  display: flex;
  justify-content: center;
}

.Typewriter__wrapper,
.Typewriter__cursor {
  color: #7ae582;
}

.circular-but {
  border: 0.1em solid #7ae582;
  border-radius: 40px;
  padding: 0.5em 1.5em;
}

#project-container div {
  padding-top: 2.5vh;
}

#capitalise {
  padding-top: 1vh !important;
}

#project-container p {
  padding-bottom: 0.8vh;
}
